.button {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: black;
  color: white;

  &:hover {
    transform: translateY(-0.5px);
    opacity: 0.8;
  }

  &:active {
    transform: translateY(0.5px);
  }
}
